.mylist {
    text-decoration: none;
}
#navbar {
    position: fixed;
    top: 0;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    padding: 200px;    
}

#welcome-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
